<a href="https://colab.research.google.com/github/joonsol/python-ai-crr-2025/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.자료형 출력하기

In [ ]:
print("hello python!")

hello python!

In [ ]:
# 정수형
x = 10
y = 5
z= x+y

print(z)
print(type(z))
print(f"{x}와 {y}의 합은 {z}입니다.")

15
<class 'int'>
10와 5의 합은 15입니다.

In [ ]:
# 실수형
pi=3.14159
radius = 5
area =pi*radius*radius

print(area)
print(f"pi: {pi}, radius:{radius}, area:{area}")
print(type(area))

78.53975
pi: 3.14159, radius:5, area:78.53975
<class 'float'>

In [ ]:
# 문자열
name="Jhon"
greeting = f"Hello, {name}"

print(greeting)
print(type(greeting))

Hello, Jhon
<class 'str'>

In [ ]:
# boolean
is_active = False

if is_active:
    print("활성화입니다.")
else:
    print("비활성화입니다.")


print(type(is_active))

비활성화입니다.
<class 'bool'>

In [ ]:
# list

numbers =[1,2,3,4,5]
numbers.append(6)
print(numbers)

print(f"리스의 길이:{len(numbers)}")
print(type(numbers))

[1, 2, 3, 4, 5, 6]
리스의 길이:6
<class 'list'>

In [ ]:
# tuple
coordinates =(10,20)

# coordinates[0]=30
print(coordinates[1])
print(type(coordinates))

20
<class 'tuple'>

# 새 섹션

In [ ]:
# dict
person={
    "name":"Alice",
    "age":30,
    "city":"seoul"
}
print(person["age"])
print(person["city"])
print(person["name"])
print(type(person))

30
seoul
Alice
<class 'dict'>

In [ ]:
# set
unique_numbers ={1,2,3,4,4,5,1,6}
print(unique_numbers)
print(type(unique_numbers))

{1, 2, 3, 4, 5, 6}
<class 'set'>

# 2.문자열 처리

In [ ]:
text ="hello python!"
print(text)
print(text[0])
print(text[-1])
print(text[0:5])
print(text[6:])
print(text[:5])

hello python!
h
!
hello
python!
hello

In [ ]:
name ="Alice"
age=25
print(f"{name}의 나이는 {age}세 입니다.")
print("{}의 나이는 {}세 입니다.".format(name,age))
print("%s의 나이는 %d세 입니다."%(name,age))

Alice의 나이는 25세 입니다.
Alice의 나이는 25세 입니다.
Alice의 나이는 25세 입니다.

In [ ]:
s=" Hello Python "
print(s)
print(s.strip())
print(s.upper())
print(s.lower())

 Hello Python
Hello Python
 HELLO PYTHON
 hello python

# 3.사용자입력

In [ ]:
name =input("이름을 입력하세요 : ")
age = input("나이를 입력하세요 : ")
print(f"{name}님 안녕하세요! 당신의 나이는 {age}세 입니다. ")

이름을 입력하세요 : alice
나이를 입력하세요 : 20
alice님 안녕하세요! 당신의 나이는 20입니다.

In [ ]:
x,y = input("두 숫자를 입력하세요 예(10,20) :").split(",")
print(f"x: {x}, y: {y}")

두 숫자를 입력하세요 예(10,20) :5,9
x: 5, y: 9

# 4.연산자

In [ ]:
a= int(input("첫번째 숫자를 입력하세요 :"))
b= int(input("두번째 숫자를 입력하세요 :"))

print("덧셈: ",a+b)
print("뺄셈: ",a-b)
print("곱셈: ",a*b)
print("나눗셈: ",a/b)
print("몫: ",a//b)
print("나머지: ",a%b)
print("거듭제곱 ",a**b)

첫번째 숫자를 입력하세요 :8
두번째 숫자를 입력하세요 :7
덧셈:  15
뺄셈:  1
곱셈:  56
나눗셈:  1.1428571428571428
몫:  1
나머지:  1
거듭제곱  2097152

In [ ]:
age=int(input("나이를 입력하세요 : "))

is_teenager = age>=13  and age <=19

print("청소년 여부: ",is_teenager)

나이를 입력하세요25
청소년 여부:  False

In [ ]:
score = int(input("점수를 입력하세요 : "))

if score>=60:
    print("합격입니다.")
else:
    print("불합격입니다.")

점수를 입력하세요 : 85
합격입니다.

# 5.실습문제

In [ ]:
# 사용자로부터 이름과 나이를 입력받아 다음 형식으로 출력하시오.
name =input("이름을 입력하세요")
age=input("나이를 입력하세요")

print(f"{name}은 {age}세 입니다.")

이름을 입력하세요alice
나이를 입력하세요20
alice은 20세 입니다.

In [ ]:
# 두 개의 정수를 입력받아, 덧셈 결과를 출력하시오.
num1=int(input("첫번째 숫자를 입력하세요 :"))
num2=int(input("두번째 숫자를 입력하세요 :"))

print(f"{num1} + {num2} = {num1+num2}")

첫번째 숫자를 입력하세요 :10
두번째 숫자를 입력하세요 :5
10 + 5 = 15

In [ ]:
# 사용자로부터 반지름을 입력받아 원의 넓이를 계산하시오.
# (원의 넓이 = 3.14 × 반지름²)

pi=3.14

radius = int(input("반지름을 입력하세요 :"))

area =pi*radius*radius

print(f"원의 넓이: {area}")
print(f"원의 넓이: {area:.2f}")#소숫점 둘째자리까지

반지름을 입력하세요 :6
원의 넓이: 113.03999999999999
원의 넓이: 113.04

In [ ]:
# 사용자로부터 정수를 입력받아 짝수인지 홀수인지 판별하시오.
num = int(input("숫자를 입력하세요 :"))
if num%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

숫자를 입력하세요10
짝수입니다.

In [ ]:
# 사용자로부터 키(cm)와 몸무게(kg)를 입력받아 BMI 지수를 계산하시오.

# (BMI = 몸무게 / (키 × 키), 단 키는 m 단위로 변환)
height = float(input("키를 입력하세요"))
weight = int(input("몸무게를 입력하세요"))

height_m = height/100

bmi = weight/(height_m**2)

print(f"당신의 BMI는 {bmi:.2f}입니다.")

키를 입력하세요175
몸무게를 입력하세요60
당신의 BMI는 19.59입니다.

# 6.조건문

In [ ]:
x=int(input("숫자를 입력하세요"))

if x>10:
    print("x는 10보다 큽니다.")
elif x>5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

숫자를 입력하세요4
x는 5보다 작거나 같습니다.

In [ ]:
age= int(input("나이를 입력하세요"))
student=input("학생이면 '학생', 아니면 '기타'라고 적어주세요.")


if age>=18:
    if student=="학생":
        print("성인 학생입니다.")
    else:
        print("성인이지만, 학생은 아닙니다.")

나이를 입력하세요17
학생이면 '학생', 아니면 '기타'라고 적어주세요.학생

In [ ]:
x=3

result = "x는 5보다 큽니다." if x>5 else "x는 5보다 작습니다."
print(result)

x는 5보다 작습니다.

In [ ]:
x=12

if x>5 and x<10:
    print("x는 5보다 크고, 10보다 작습니다.")

if x<5 or x>10:
    print("x는 5보다  작거나, 10보다 큽니다.")
else:
    print("x는 5이상, 10이하입니다.")

x는 5보다  작거나, 10보다 큽니다.

In [ ]:
x=10
y=20

if x==y:
    print("x와 y는 같습니다.")
elif x!=y:
    print("x와 y는 같지 않습니다.")

x와 y는 같지 않습니다.

In [ ]:
my_list =[1,2,3,4,5]

if 3 in my_list:
    print("리스트에 3이 포함되 있습니다.")
if 6 not in my_list:
    print("리스트에 6이 포함되 있지 않습니다.")

리스트에 3이 포함되 있습니다.
리스트에 6이 포함되 있지 않습니다.

# 7.실습문제

In [ ]:
# 사용자로부터 정수를 입력받아 양수, 음수, 0 중 어떤 값인지 출력하세요.
x=int(input("정수를 입력하세요 : "))

if x>0:
    print("양수입니다.")
elif x<0:
    print("음수입니다.")
else:
    print("0입니다")

정수를 입력하세요 : 0
0입니다

In [ ]:
# 사용자로부터 정수를 입력받아 짝수인지 홀수인지 출력하세요.

In [ ]:
x=int(input("정수를 입력하세요 : "))

if x%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

정수를 입력하세요 : 8
짝수입니다.

In [ ]:
# 두 개의 정수를 입력받아 더 큰 값을 출력하세요.
x=int(input("첫번째 수를 입력하세요 : "))
y=int(input("두번째 수를 입력하세요 : "))


if x>y:
    print(f"더 큰수는 {x}입니다.")
else:
    print(f"더 큰수는 {y}입니다.")

첫번째 수를 입력하세요 : 9
두번째 수를 입력하세요 : 7
더 큰수는 9입니다.

In [ ]:
# 점수를 입력받아 아래 기준에 따라 학점을 출력하세요.
score = int(input("점수를 입력하세요 : "))

if score >=90:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
    print("C")
else:
    print("D")

점수를 입력하세요 : 89
B

In [ ]:
# 숫자 리스트 [3, 7, 9, 12] 안에 입력받은 숫자가 있는지 확인하세요.

my_list =[3, 7, 9, 12]
x=int(input("숫자를 입력하세요 : "))

if x in my_list:
    print(f"{x}는 리스트에 있습니다.")

else:
    print(f"{x}는 리스트에 없습니다.")

숫자를 입력하세요 : 11
11는 리스트에 없습니다.

In [ ]:
# 두 개의 정수를 입력받아 같으면 "같습니다", 다르면 "다릅니다"를 출력하세요.
x=int(input("첫번째 숫자 입력"))
y=int(input("두번째 숫자 입력"))

if x==y:
    print(f"{x}와 {y}는 같습니다.")
else:
    print(f"{x}와 {y}는 같지 않습니다.")

첫번째 숫자 입력9
두번째 숫자 입력8
9와 8는 같지 않습니다.

In [ ]:
# 사용자로부터 문자열을 입력받아 길이가 5자 이상이면 “길어요”, 아니면 “짧아요”를 출력하세요.
word = input("단어를 입력하세요 : ")

if len(word)>=5:
    print("길어요")
else:
    print("짧아요")

단어를 입력하세요 : school
길어요

In [ ]:
# 정수를 입력받아 1 이상 100 이하인지 확인하고, 범위 안에 있으면 "정상", 아니면 "범위 초과"를 출력하세요.
x=int(input("숫자를 입력하세요 : "))

if 1<=x & x<=100:
    print("범위안")
else:
    print("범위밖")

숫자를 입력하세요 : 80
범위안

In [ ]:
# 아이디는 "admin", 비밀번호는 "1234"일 때만 "로그인 성공"을 출력하세요.

id=str(input("아이디를 입력하세요 : "))
pw=int(input("비밀번호를 입력하세요 : "))

if id=="admin" and pw ==1234:
    print("로그인 성공")
else:
    print("로그인 실패")

아이디를 입력하세요 : admin
비밀번호를 입력하세요 : 1234
로그인 성공

In [ ]:
# 정수를 입력받아 3의 배수인지 아닌지를 판별하세요.
num=int(input("정수를 입력하세요 : "))


if num %3==0:
    print("3의 배수입니다.")
else:

    print("3의 배수가 아닙니다.")

정수를 입력하세요 : 12
3의 배수입니다.

# 8-1. 배열(리스트)

In [ ]:
nums =[10,20,30,40,50]


print(nums[0])
print(nums[-1])
print(nums[1:3])

10
50
[20, 30]

In [ ]:
animals = ["개","고양이","토끼"]

for animal in animals:
    print(animal)

개
고양이
토끼

In [ ]:
# 과일 리스트
fruits =["사과","바나나","딸기"]

print("과일목록")

for f in fruits:
    print(f" - {f}")

과일목록
 - 사과
 - 바나나
 - 딸기

In [ ]:
names =[]

for i in range(3):
    name =input(f"{i+1}번 이름을 입력하세요 : ")

    names.append(name)

print("입력한 이름 리스트 : ",names)

1번 이름을 입력하세요 : 채린
2번 이름을 입력하세요 : 소연
3번 이름을 입력하세요 : 민주
입력한 이름 리스트 :  ['채린', '소연', '민주']

# 8-2 배열의 원소 조회

In [ ]:
#숫자 5개로 이루어진 리스트를 생성하고, 모든 요소의 합과 평균을 출력하시오.
num_list=[60,70,75,95,100]

sum=0

for num in num_list:
    sum+=num

avg = int(sum/len(num_list))
print(f"리스트 합: {sum}")
print(f"리스트 평균: {avg}")

리스트 합: 400
리스트 평균: 80

In [ ]:
# 리스트에 저장된 점수 중 60점 이상인 한생의 수를 출력하시오.
score=[50,55,75,95,100]

count=0
for i in score:
    if i>=60:
        print(i)
        count+=1

print(f"60점 이상인 학생의 수: {count}명")

75
95
100
60점 이상인 학생의 수: 3명

In [ ]:
# 3명의 이름을 입력받아 리스트에 저장한 후 출력하시오.

names =[]

for i in range(3):
    name =input(f"{i+1}번 이름을 입력하세요 : ")

    names.append(name)

print("입력한 이름 리스트 : ",names)

1번 이름을 입력하세요 : 은비
2번 이름을 입력하세요 : 소연
3번 이름을 입력하세요 : 재용
입력한 이름 리스트 :  ['은비', '소연', '재용']

In [ ]:
# 사용자로부터 과일 이름 3개를 입력받아 리스트로 저장하고, 그 중 첫 번째 과일만 출력하시오.
fruits =[]

for i in range(3):
    fruit =input(f"{i+1}번 과일 이름을 입력하세요 : ")

    fruits.append(fruit)


print(fruits[0])

KeyboardInterrupt: Interrupted by user

In [ ]:
# 리스트 [1, 2, 3, 4, 5]에서 짝수만 새로운 리스트에 담고 출력하시오.

num_list =[1,2,3,4,5]

new_list=[]

for num in num_list:
    if  num%2==0:
        new_list.append(num)

print(new_list)

[2, 4]

# 8-3 배열반복문

In [ ]:
# 1부터 10까지 숫자를 한 줄씩 출력하시오.

nums=[]

for num in range(10):
    num+=1

    nums.append(num)



print(nums)

for i in range(1,11,2):
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
3
5
7
9

In [ ]:
# 사용자로부터 정수 하나를 입력받아, 그 수만큼 "안녕하세요"를 출력하시오.

str1="안녕하세요"

num = int(input("숫자를 입력하세요: "))

for i in range(num):
    print(str1)

숫자를 입력하세요: 6
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
# 1부터 100까지의 정수 중 짝수만 출력하시오.
result=""

for i in range(1,101,2):
    result+=str(i+1)+","

print(result.rstrip(","))

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100

In [ ]:
# 사용자로부터 숫자 5개를 입력받아 리스트에 저장하고, 반복문을 사용하여 모두 출력하시오.
nums=[]

for num in range(5):
    num=int(input(f"{num+1}번 숫자를 입력하세요 : "))

    nums.append(num)

print(nums)

1번 숫자를 입력하세요1
2번 숫자를 입력하세요5
3번 숫자를 입력하세요8
4번 숫자를 입력하세요9
5번 숫자를 입력하세요10
[1, 5, 8, 9, 10]

In [ ]:
# 1부터 10까지의 숫자를 더한 총합을 출력하시오.
sum=0

for i in range(11):
    sum+=i

print(f"총 합은: {sum} ")

총 합은: 55

# 9-1 함수의 정의

In [ ]:
def greet(name):
    return f"hello {name}"

message= greet("Alice")

print(message)

hello Alice

In [ ]:
def add(a,b):
    return a+b

result = add(5,9)

print(result)


def multy(x,y,z):
    return x*y*z

result2=multy(3,2,1)

print(result2)

14
6

# 9-2 함수의 유형

In [ ]:
# 매개변수,반환값이 없는 함수
def say_hello():
    print("hello")

say_hello()

hello

In [ ]:
def greet(name="guest"):
    print(f"hello {name}님!")

greet("Alice")
greet()

def new_greet(user="admin",age=10):
    # 님의 나이는 살입니다...
    print(f"{user}님의 나이는 {age}살 입니다.")


new_greet("Alice",20)
new_greet()

hello Alice님!
hello guest님!
Alice님의 나이는 20살 입니다.
admin님의 나이는 10살 입니다.

In [ ]:
def add_numbers(*keyword):
    return sum(keyword)

print(add_numbers(1,2,3,4,5,6))

21

In [ ]:
def print_info(**keys):
    for key, value in keys.items():
        print(f"{key}:{value}")


print_info(name="Alice",age=25,city="seoul")


# name:Alice
# age:25
# city:seoul

name:Alice
age:25
city:seoul

# 9-3 lambda

In [ ]:
square = lambda x:x**2

print(square(5))
print(square(6))

circle =lambda a,b,c:a*b*c

print(circle(1,2,3))

25
36
6

# 9-4 실습예제

In [ ]:
numbers =[1,2,3,4,5]

squares =list(map(lambda x:x**2,numbers))


print(squares)

[1, 4, 9, 16, 25]

In [ ]:
numbers =[10,15,21,30,33,40]


result = list(filter(lambda x:x%3==0,numbers))


print(result)

[15, 21, 30, 33]

In [ ]:
students=[
    ("홍길동",90),
    ("유관순",60),
    ("이순신",80),
]
sorted_students=sorted(students,key=lambda x:x[1],reverse=True)

print(sorted_students)

[('홍길동', 90), ('이순신', 80), ('유관순', 60)]

# 9-5 중첩함수

In [ ]:
def factorial(n):
    if n==1:
        return 1

    return n*factorial(n-1)

print(factorial(4))#4*3*2

24

In [ ]:
def outer_function(msg):
    def inner_function():
        print(msg+"!!!")
    inner_function()
outer_function("hello python!")

hello python!!!!

In [ ]:
def outer(name):
    def inner():
        return f"{name}님 안녕하세요!"
    return inner()


print(outer("홍길동"))

홍길동님 안녕하세요!

In [ ]:
def greeting(name):
    def message():
        print(f"{name}님 안녕하세요")
    return message

say_hi = greeting("파이썬!")

say_hi()

파이썬!님 안녕하세요

In [ ]:
#최대값, 최소값 찾기
def max_fuc(num):
    return max(num)
def min_fuc(num):
    return min(num)


print(max_fuc([1,2,3,4,5]))
print(min_fuc([1,2,3,4,5]))

5
1

In [ ]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello python!"))

!nohtyp olleh